PokeTradR/force-app/main/default/flows/New_Pokemon_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assigning_Pokemon_Values</name>
        <label>Assigning Pokemon Values</label>
        <locationX>667</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pokedex_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Type1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Height_m__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Weight_g__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pokedex_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PokemonToInsert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pokemon</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>StatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Pokemon__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type1__c</picklistField>
        <picklistObject>Pokemon__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Pokemon Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pokemon Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pokemon</name>
        <label>Create Pokemon</label>
        <locationX>681</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Pokemon_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>PokemonToInsert</inputReference>
    </recordCreates>
    <screens>
        <name>Entry_Credentials</name>
        <label>Entry Credentials</label>
        <locationX>303</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Pokemon_Values</targetReference>
        </connector>
        <fields>
            <name>Pokedex_Number</name>
            <dataType>String</dataType>
            <fieldText>Pokedex Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_1</name>
            <choiceReferences>TypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_2</name>
            <choiceReferences>TypeChoices</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Height</name>
            <dataType>Number</dataType>
            <fieldText>Height</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Pokedex_Entry</name>
            <dataType>String</dataType>
            <fieldText>Pokedex Entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>460</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pokedex_Request</name>
        <label>Pokedex Request</label>
        <locationX>126</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Entry_Credentials</targetReference>
        </connector>
        <fields>
            <name>AskMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Would you like to submit an entry to the Pokedex?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Click Next to Continue&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pokemon_Created</name>
        <label>Pokemon Created</label>
        <locationX>866</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreationMessage</name>
            <fieldText>&lt;p&gt;Thank you for your submission.&lt;/p&gt;&lt;p&gt;We created an entry for {!Pokedex_Number}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Pokedex_Request</startElementReference>
    <status>Active</status>
    <variables>
        <name>PokemonToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pokemon__c</objectType>
    </variables>
</Flow>
