PokeTradR/force-app/main/default/flows/New_Trade_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assigning_Trade_Values</name>
        <label>Assigning Trade Values</label>
        <locationX>624</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>TradeToInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trade_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Pokemon_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pokemon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Asking_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asking_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Requested_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Requested_Pokemon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Pokemon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Requested_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TradeToInsert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Trade</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AskingForChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asking_For__c</picklistField>
        <picklistObject>Trade__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PokemonChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pokemon__c</picklistField>
        <picklistObject>Pokemon__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Trade__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Type__c</picklistField>
        <picklistObject>Trade__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Trade Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Trade Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Trade</name>
        <label>Create Trade</label>
        <locationX>627</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Trade_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>TradeToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Grabbing_Trainer_Records</name>
        <label>Grabbing Trainer Records</label>
        <locationX>137</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asking_for_Trainer_Name</targetReference>
        </connector>
        <object>Trainer__c</object>
    </recordLookups>
    <screens>
        <name>Asking_for_Trainer_Name</name>
        <label>Asking for Trainer Name</label>
        <locationX>173</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trading</targetReference>
        </connector>
        <fields>
            <name>TrainerName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>Trainers.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trainer Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>TradeToInsert.Trainer_Name__r.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>431</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Requesting</name>
        <label>Requesting</label>
        <locationX>408</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigning_Trade_Values</targetReference>
        </connector>
        <fields>
            <name>Asking_for</name>
            <choiceReferences>AskingForChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asking for</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Type</name>
            <choiceReferences>TypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Pokemon</name>
            <choiceReferences>PokemonChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requested Pokemon</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requested_Price</name>
            <dataType>Number</dataType>
            <fieldText>Requested Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trade_Created</name>
        <label>Trade Created</label>
        <locationX>828</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateMessage</name>
            <fieldText>&lt;p&gt;We created a trade for {!Trade_Name}. Feel free to add more detail to it later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trading</name>
        <label>Trading</label>
        <locationX>331</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Requesting</targetReference>
        </connector>
        <fields>
            <name>Trade_Name</name>
            <dataType>String</dataType>
            <fieldText>Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pokemon</name>
            <choiceReferences>PokemonChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pokemon</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Grabbing_Trainer_Records</startElementReference>
    <status>Draft</status>
    <variables>
        <name>TradeToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>Trainers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainer__c</objectType>
    </variables>
    <variables>
        <name>TypeChoices_bad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
</Flow>
