PokeTradR/force-app/main/default/flows/New_Trainer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Fields_Assigned</name>
        <label>Fields Assigned</label>
        <locationX>816</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>TrainertoInsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainertoInsert.Dated_Joined__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_s_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainertoInsert.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trainer_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainertoInsert.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainertoInsert.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainertoInsert.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trainer_Age</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Trainer</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <description>Male
Female
Other</description>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Trainer__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Trainer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Trainer Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Trainer</name>
        <label>Create Trainer</label>
        <locationX>994</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Trainer_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>TrainertoInsert</inputReference>
    </recordCreates>
    <screens>
        <name>Demographics</name>
        <label>Demographics</label>
        <locationX>602</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fields_Assigned</targetReference>
        </connector>
        <fields>
            <name>Trainer_Age</name>
            <dataType>Number</dataType>
            <fieldText>Trainer Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Age cannot be negative&lt;/p&gt;</errorMessage>
                <formulaExpression>{!TrainertoInsert.Age__c} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Trainer_Gender</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trainer Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>960</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Fault</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>216</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trainer_Name</targetReference>
        </connector>
        <fields>
            <name>FirstTime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;First time to Poke-TradR? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Click next to start the sign up process.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trainer_Created</name>
        <label>Trainer Created</label>
        <locationX>1205</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TrainerCreated</name>
            <fieldText>&lt;p&gt;Congrats {!TrainertoInsert.First_Name__c}! &lt;/p&gt;&lt;p&gt;You are now a Trainer at Poke-TradR!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trainer_Name</name>
        <label>Trainer Name</label>
        <locationX>418</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Demographics</targetReference>
        </connector>
        <fields>
            <name>Username</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Today_s_Date</name>
            <dataType>Date</dataType>
            <fieldText>Today&apos;s Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TrainertoInsert.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TrainertoInsert.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>First_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>OldTrainer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainer__c</objectType>
    </variables>
    <variables>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrainerAge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainer__c</objectType>
    </variables>
    <variables>
        <name>TrainertoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trainer__c</objectType>
    </variables>
</Flow>
